package [% class %];

use Moo;

use lib "Lib";
extends "[% superclass %]";

use lib "Modell";
use [% modell %];

[% FOREACH a IN attributes %]
has [% a.name %] => (is => "ro", default => sub {[% a.default %]});
[% END %]

[% FOREACH m IN methods %]
sub [% m.name %] {
[% m.body %]
}
[% END %]

__PACKAGE__->meta->make_immutable;

1;
