 mount '/' => sub {
    my $env= shift;
    my $request = Plack::Request->new($env);

    my $params = load_params($request);
    my $controller = [% controller_path %]->new();
    my $content = $controller->dispatch($params);
    
    my $response = $request->new_response(200);
    $response->content_type('text/html');
    $response->content($content);
    return $response->finalize;

  };