my $self = shift;
my $file = shift;
my $vars = shift;

my $folder = $self->views();
my $output;

my $tt = Template->new({
  INCLUDE_PATH => "$folder",
  EVAL_PERL    => 1,
  PRE_PROCESS  => [ 'static/layout/index.html' ],
  POST_PROCESS => [ 'static/layout/footer.html'] 
}) || die $Template::ERROR, "\n";

my $tempate_code = read_file("$folder/$file");

$tt->process(\$tempate_code, $vars, \$output) // die $Template::ERROR;

return $output;